body {
margin-top: 0px;
}

.container {
  margin: 20px auto;
  width: 850px;
  height: 700px;
  padding: 40px;
  margin-top: 100px;
  background-color: #EDEDED;
}


/*
th {
  text-align: left;
}
*/

/********everything in header in master page********/

.header_container {
  margin: 20px auto;
  width: 75%;
  height: 80px;
  margin-top: 0px;
}


.header {
	height: 80px;
	width: 100%;
	background-color: black;
	box-shadow: 2px 4px 20px #DBDBDB;
  -moz-box-shadow: 2px 4px 20px #DBDBDB;
  -webkit-box-shadow: 2px 4px 20px #DBDBDB;

}

#header_title {
	text-decoration: none;
	text-align: center;
	width: 500px;
	height: 40px;
	padding-top: 18px;
	font-style: italic;
}

span#madness {
	color: #92EC00;
	font-style: italic;
}

h1#header_title {
	margin: 0 auto;
	vertical-align: center;
	color: white;
	position: relative;
}


#username {
	position: relative;
	float: left;
}

#username a {
	color: #92EC00;
	text-decoration: none;
	font-family: 'Waiting for the Sunrise', 'cursive';
	letter-spacing: .5px;
}

#username a:hover {
	color: white;
}


#decks {
	position: relative;
	float: right;
}

#decks a {
	color: #92EC00;
	text-decoration: none;
	font-family: 'Waiting for the Sunrise', 'cursive';
	letter-spacing: .5px;
	margin-left: 20px;

}

#decks a:hover {
	color: white;
}


#logout {
	position: relative;
	float: right;
}

#logout a {
	color: #92EC00;
	text-decoration: none;
	font-family: 'Waiting for the Sunrise', 'cursive';
	letter-spacing: .5px;
}

#logout a:hover {
	color: white;
}






/********everything in on account page********/

.account_container {
	height: 400px;
	width: 600px;
	background-color: white;
	padding: 40px;
	border: 8px solid black;
	margin: 0 auto;
	box-shadow: 4px 8px 10px gray;
	/*border-radius: 8px;*/
}

.account_container h3 {
	color: #5f9900;
	font-size: 2em;
	font-family: 'Asap', 'sans-serif';
}

.account p {
	font-size: 1.2em;
	color: gray;
}

.stats p {
	font-size: 1.2em;
	color: gray;
}

.public_decks input {
	font-size: 1.2em;
	color: gray;
}

h1#greeting {
	font-size: 4em;
	font-family: 'Montserrat', 'sans-serif';
	margin: 20px auto;
	margin-left: 70px;
}

.account {
	float: left;
	margin-left: 20px;
}

.stats {
	float: right;
	margin-right: 20px;
}

.public_decks {
	display: inline-block;
	margin-left: 20px;
}







/********************************************/








/*card design for round page*/

.card {
	background-color: black;
	border: 1px solid gray;
	width: 490px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 2px 2px 12px gray;
	margin-bottom: 30px;
	margin-top: 50px;
	margin-left:auto;
  margin-right:auto;

}

/*question on card for round page*/


#question {
color: white;
text-align: center;
vertical-align: middle;
font-size: 2em;
font-family: 'Open Sans Condensed', 'sans-serif';
padding: 20%;
}



	 #form {

		margin: 0 auto;
}





