body {
	height: 100%;
	width: 100%;
	margin-top: 0px;
  background-color: #EDEDED;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

a:link, a:visited {
	color:#888;
	text-decoration: none;
}

a:hover {color:#1abc9c;}

/********everything in header in master page********/

.header_container {
  margin: 20px auto;
  height: 80px;
  margin-top: 0px;
}


.header {
	height: 80px;
	width: 100%;
	background-color: black;
	box-shadow: 2px 4px 20px #DBDBDB;
  -moz-box-shadow: 2px 4px 20px #DBDBDB;
  -webkit-box-shadow: 2px 4px 20px #DBDBDB;

}

#header_title {
	text-decoration: none;
	text-align: center;
/*	width: 500px;
	height: 40px;*/
	padding-top: 3px;
}

.logo {
	height: 72px;
}

#madness {
	color: #1abc9c;
	font-style: normal;
}

h1#header_title {
	margin: 0 auto;
	vertical-align: center;
	color: white;
	position: relative;
}

#username {
	position: relative;
	float: left;
}

#username a {
	color: #1abc9c;
	margin-left: 20px;
	text-decoration: none;
	font-family: 'Waiting for the Sunrise', 'cursive';
	letter-spacing: .5px;
}

#username a:hover {
	color: white;
}

#decks {
	position: relative;
	float: right;
}

#decks a {
	color: #1abc9c;
	text-decoration: none;
	font-family: 'Waiting for the Sunrise', 'cursive';
	letter-spacing: .5px;
}

#decks a:hover {
	color: white;
}

#logout {
	position: relative;
	float: right;
}

#logout a {
	color: #1abc9c;
	margin: 0 20px;
	text-decoration: none;
	font-family: 'Waiting for the Sunrise', 'cursive';
	letter-spacing: .5px;
}

#logout a:hover {
	color: white;
}


/********everything in on account page********/

.account_container_wrapper {

	width: 704px;
	margin: 0 auto;
}

.account_container {
	height: 400px;
	width: 600px;
	background-color: white;
	padding: 40px;
	border: 8px solid black;
	margin: 0 auto;
	box-shadow: 4px 8px 10px gray;
	/*border-radius: 8px;*/
}

.account_container h3 {
	color: #1abc9c;
	font-size: 2em;
	font-family: 'Asap', 'sans-serif';
}

.account p {
	font-size: 1.2em;
	color: gray;
}

.stats p {
	font-size: 1.2em;
	color: gray;
}

.public_decks input {
	font-size: 1.2em;
	color: gray;
}

h1#greeting {
	font-size: 4em;
	font-family: 'Montserrat', 'sans-serif';
	margin: 20px auto;
	/*margin-left: 70px;*/
}

.account {
	float: left;
	margin-left: 20px;
}

.stats {
	float: right;
	margin-right: 20px;
}

.public_decks {
	display: inline-block;
	margin-left: 20px;
}

/********************************************/

/* card design for /round pages */

.card {
	background-color: black;
	border: 1px solid gray;
	width: 490px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 2px 2px 12px #888;
	margin-bottom: 30px;
	margin-top: 50px;
	margin-left:auto;
  margin-right:auto;
}

.answer_card {
	background-color: #1abc9c;
	border: 1px solid gray;
	width: 490px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 2px 2px 12px #888;
	margin-bottom: 30px;
	margin-top: 50px;
	margin-left:auto;
  margin-right:auto;
}

/* question on card for /round pages */

#question {
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
	font-family: 'Open Sans Condensed', 'sans-serif';
	padding: 10%;
}

#answer {
	color: white;
	text-shadow: 1px 1px #666;
	text-align: center;
	vertical-align: middle;
	font-size: 2.3em;
	font-family: 'Open Sans Condensed', 'sans-serif';
	padding: 10%;
}

#form {
	margin: 0 auto;
}

#submit_guess {
	width: 490px;
	margin-bottom: 30px;
	margin-top: 50px;
	margin-left:auto;
  margin-right:auto;
}

input.user_guess {
	border-radius: 5px;
	height: 27px;
	border: 1px solid #888;
}

input[type="submit"] {
	font-size: 1em;
	color: white;
	letter-spacing: 1px;
	border-radius: 5px;
	border: 0px;
	height: 31px;
	background-color: #1abc9c;
}

.hide {
	display: none;
}

/* score page */

.score_text {

}
