<div class="container">
  <h1>Flash Cards</h1>
  <p>You don't know Jack! (But you will.)</p>
  <h2>Create Account</h2>

  <form method="post" action="/create">
    <p>name:</p>
    <input type="text" name= "name">
    <br>
    <p>email:</p>
    <input type="text" name= "email">
    <br>
    <p>password</p>
    <input type="password" name= "password">
    <br>
    <br>
    <input type="submit" value="Create a new username!">
  </form>

</div>
