<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<div class="container">
	<div class="card">

	<p id="question"><%= @question %></p>
	</div>

	<!-- <canvas id="flashcard" width="250" height="350"></canvas> -->
	<!-- <p><%= @answer %></p> -->
	<div id="form">
		Your guess:
		<form action = <%= "/#{@deck}/#{@id}/check_answer" %> method ="POST">
		  <input type="text" name="input">
		  <input type="submit">
		</form>
	</div>
	<form action = <%= "/#{@deck}/#{@next_id}/question" %> method ="POST">
	  <input type="submit" value="next">
	</form>
</div>

