<div class="container">
  <div class="card">
    <p id="question"><%= @card.question%></p>
  </div>
  <div id="answer">
    Answer: <%= @card.answer%> (div #answer ; this text should be hidden )
  </div>
  <form method="POST" action="/round/<%= @deck.topic %>">
    <input type="text" name="user_input">
    <input type="submit" value="Check Answer" name="check_answer">
  </form>
</div>
