<div class="container">
    <p>Question: <%= @question %><br>
    Answer: <%= @answer %></p>
    hi: <%= "/french/#{@next_id}" %>
</div>

<form action = <%= "/french/#{@next_id}/question" %> method ="POST">
  <input type="submit" value="next">
</form>
