<div class="container">
  <h2>Log in</h2>

  <form method="post" action="/user">
    email:  <input type="text" name= "email">
    <br>
    <br>
    password: <input type="password" name= "password">
    <br>
    <br>
    <input type="submit" value="Login!">
  </form>
  <br>
  <br>

  <h2><a href="/create">New here? Create an account</a></h2>

</div>
