<div class="container">
  <div class="account_container_wrapper">
    <h1 id="greeting">Way to go!</h1>

    <div class="account_container">
      <div class="score_text">
        <h2>Correct</h2>
        <%= @round.correct%><br>
        <h2>Incorrect</h2>
        <%= @round.incorrect%><br>
        <h2>Accuracy</h2>
        <%= @round.correct/(@round.correct+@round.incorrect).to_f.round(4)*100%>%
        <br><br><br><form action="/round/movie-quotes" method="POST">
          <input type="submit" value="play again?">
        </form>
      </div>
    </div>
  </div>
</div>
